{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Add new post{% endblock %}

{% block content %}
  <div class="container">
    <h1>Create a new post</h1>
    <div class="row">
      <div class="col-7">
        <form method="POST" class="post-form" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="save btn btn-primary">Save</button>
        </form>
      </div>
      <div class="col-5">
        <img src="https://picsum.photos/seed/picsum/400/300" class="rounded float-end" alt="Test">
      </div>
    </div>
  </div>
{% endblock %}